# spine cpg parameters

#nu_cpg
0.2

#R_cpg
0.8000	0.8000	0.8000	0.8000	0.8000	0.8000	0.8000	0.8000	0.8000	0.8000	0.8000

#R_cpg_gain
2

#a_cpg
1

#wbck
10

#wfwd
10

#wlat
10

#ph_lagfwd
100

#fbck_w
0 0 0 0 0 0 0 0 0 0 0




# akio phase-force feedback

#akio_legs_sigma_v
0.00

#akio_legs_sigma_h
0.0

#akio_legs_sigma_mag
0.00



# spine through girdle oscillations

#girdleOscAmp
0.75 	0.75

#girdleOscOffset   (in degrees)
0 	180

#spineGirdleCPGsWeights
1 1 1 1 1

#akio_spine_sigma
0.0 	0.0



