#IS_SIMULATION 
1

#IS_PLEUROBOT - 1 for Pleurobot, 0 for Orobot
1

#IS_SNAKE For snake world and pushing against obstacles
0

#IS_OPTIMIZATION
0

#USE_JOYSTICK   
1

#JOYSTICK_TYPE     #PS1 - 1, PS3 - 2, Logitech - 3
1

#SWIM   s
0

#SPINE_COMPENSATION_WITH_FEEDBACK 
0

#USE_REFLEXES
0

#USE_TAIL
1

#USE_IMU
0

#AUTO_RUN
1

#AUT_RUN_STATE     ->    WALKING, STANDING, POSING, SWIMMING, ANIMAL_WALKING, ANIMAL_SWIMMING, ANIMAL_AQUASTEP, INITIAL
0
#LOG_DATA
1

#USED_MOTORS
# spine
1	1	1	1	1	1	1	1	1	1	1
# 0	0	0	0	0	0	0	0	0	0	0
#FL
1	1	1	1	
# 0	0	0	0
#FR
1	1	1	1	
# 0	0	0	0
#HL
1	1	1	1	
# 0	0	0	0

#HR
1	1	1	1	
# 0	0	0	0

#TORQUE_CTRL_MOTORS
# spine
#1	1	1	1	1	1	1	1	1	1	1
0	0	0	0	0	0	0	0	0	0	0
#FL
#1	1	1	1	
0	0	0	0
#FR
#1	1	1	1	
0	0	0	0
#HL
#1	1	1	1	
0	0	0	0

#HR
#1	1	1	1	
0	0	0	0




#ANIMAL_DATASET -> PLEURODELES 0, AMBYSTOMA 1, SKINK 2, IGUANA 3, CAIMAN 4
0
