#FOV_V
1.3

#track_feat_max_count
40

#track_feat_quality
0.001

#track_feat_min_dist
7

#track_feat_block_size
7

#track_feat_use_Harris
0

#track_feat_Harris_k
0.04


#LK_flow_win_size
31	31
 
#LK_flow_max_level
2

#LK_flow_term_crit_max_count
30

#LK_flow_term_crit_eps
0.01

#LK_flow_flags
0

#LK_flow_min_eig_treshhold
0.001

#crop_H0
150

#crop_W
130

#warp_in_width
0

#warp_in_height
150

#frame_time_step	//ms
60




#OFLOW PROCESSING

#MA_WINDOW_SIZE_TIME
10














// kinda OK values

#FOV_V
1.3

#track_feat_max_count
30

#track_feat_quality
0.001

#track_feat_min_dist
5

#track_feat_block_size
5

#track_feat_use_Harris
0

#track_feat_Harris_k
0.04


#LK_flow_win_size
31	31
 
#LK_flow_max_level
3

#LK_flow_term_crit_max_count
30

#LK_flow_term_crit_eps
0.01

#LK_flow_flags
0

#LK_flow_min_eig_treshhold
0.001

#crop_H0
150

#crop_W
130

#warp_in_width
0

#warp_in_height
150

#frame_time_step	//ms
60




#OFLOW PROCESSING

#MA_WINDOW_SIZE_TIME
4

