#===========================GENERAL STUFF=====================================
# stick_r_lim
0.2

#===========================WALKING SPEED=====================================
# joy_walk_max_freq
0.5

# joy_walk_min_freq
0.0

# joy_walk_speed_change_filt
1

# desiredSpeed    // for 0.5hz, 0.2m/s
0.2

# speedPriority
1

#===========================CRAB WALKING=====================================
# disable_crab_walk_lim   -> during turning
0.4

# ellipse_small_axis
0.07


#===========================POSING=====================================
# posing_joy_y1_rate
0.1

# posing_joy_x1_rate
0.0667

# posing_joy_y2_rate
0.0667

# posing_head_rate
0.01

# posing_head_limit
0.5



#===========================SWIMMING=====================================
# joy_swim_max_freq
1

# joy_swim_speed_change_filt
0.2

# joy_swim_max_offset
0.7

# phase_lag_change_rate		-> percentage/sec, from head to tail
20

# phase_lag_min		-> percentage, from head to tail
0

# phase_lag_max   -> percentage, from head to tail
200

# joy_swim_turning_dead_zone             ->degrees
30
