#///////////////////////// LEG EXTENSION ////////////////////////////
#forceFilterExt
0.1

#extRefForceLim
1.5

#extRefOnFilter     relative to duty cycle
0.15

#extRefOffFilter	relative to duty cycle
0.7
#0.0466

#extRefSpike
-0.15
#-0.18

#extRefTimeout		% of duty cycle
10


#///////////////////////// STUMBLE ///////////////////////////
#forceFilterStu
0.0001

#stuRefForceLimX
-10.77

#stuRefForceLimZ
56.177

#stuRefOnFilter		relative to duty cycle
0.01

#stuRefOffFilter	relative to duty cycle			
0.5

#stuRefDx
-0.12

#stuRefDz#
0.2

#stuRefTimeout		% of duty cycle
10



#///////////////////////// EMERGENCY ////////////////////////////
#spine_gains0
1	1	1	1	1	1	1.5	3	3	3	3

#legs_height0
0.05	0.05	0.05	0.05

#erRefOnFilt
1

#erRefOffFilt
1

#er_duration
5

#er_timeout
3

#er_flow_limit		% of expected speed
0

#er_slipping_Tfilt      -> relative to the walking cycle
2

#er_slipping_threshold        -> for all 4 legs combined
10.5



#///////////////////////// POSTURE ////////////////////////////


#xGain
0.1

#yGain
0.1

#Troll_posture
0.2

#Tpitch_posture
0.2




0.897901	0.809406	0.5325	0.387003
0.89045	0.580954	0.222974	0.115347


0.940137	0.783656	0.493183	0.363349   -> only stumble
0.92162	0.810805	0.478957	0.357903











# 1st OPT
#///////////////////////// LEG EXTENSION ////////////////////////////
#forceFilterExt
0.1

#extRefForceLim
1

#extRefOnFilter     relative to duty cycle
0.626

#extRefOffFilter	relative to duty cycle
0.0466

#extRefSpike
-0.18

#extRefTimeout		% of duty cycle
10


#///////////////////////// STUMBLE ///////////////////////////
#forceFilterStu
0.0001

#stuRefForceLimX
-10.77

#stuRefForceLimZ
56.177

#stuRefOnFilter		relative to duty cycle
0.00455

#stuRefOffFilter	relative to duty cycle			
0.732

#stuRefDx
-0.1225

#stuRefDz#
0.2070

#stuRefTimeout		% of duty cycle
10