# amp_wave_snake
0.3

# freq_snake
0.2

# snake_phase_lag
0.5

# snake_adapt_gain
10.00

# snake_adapt_filter
0.75

# snake_P_gain
20

# snake_D_gain
0.002

# snake_I_gain
0

# snake_torque_filt
0.0

# snake_torque_damping_filt
0.0

# snake_path_gain
0.0

# snake_path_limit
0.3

# snake_path_acceptance_region
0.3

# snake_path_LAD
0.35

# snake_path_WP_number
5

# snake_path_WP
0	0
2	0
2	2
4	2
4	-2
