#PID PARAMETERS


# Pgain_torques_scaling
10

# Pgain_torques
1 1 1 1 1 1 1 1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1





# Igain_torques_scaling
0

# Igain_torques
1 1 1 1 1 1 1 1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1




# Dgain_torques_scaling
4


# Dgain_torques
1 1 1 1 1 1 1 1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1


# torque_D_filt
0.0


# torque_error_filt
0.0

# output_torque_filt
0.1



######################### VMC part #################################
############ VMC bodyPosture
#vmc_bodyPosture_stiffness
0

#vmc_bodyPosture_damping
0