# GW_spring_stiffness_z
150

# GW_spring_damping_z
40

# GW_spring_stiffness_xy
100

# GW_spring_damping_xy
50

# GW_Zref_initial
-0.25

# GW_x_offset
-0.5

# GW_y_offset
0.2

# GW_Tfilt
0.3

# VMC_roll_ref_front
0.3

# VMC_roll_ref_hind
0

# VMC_roll_spring_stiffness_front
50

# VMC_roll_spring_stiffness_hind
50

# VMC_roll_damping_front
10

# VMC_roll_damping_hind
10


